/Debug
.*project
.settings
*.swp
*~
TODO.next
dbgen/tmp/*
doc/dev/*
perfstats/*
dev/*
*/.gitignore
patches
murks
dev
dbgen/dbgenerator.tgz
conf/zz_pt.conf
build
.i*
builddir
test/misc
conf/*test.conf
doc/Makefile
**/.gitignore
