body {
   background-color: #cccccc;
   font-family: Verdana, Arial, sans-serif;
   font-size: 10px;
   color: black;
}
.title {
   font-weight: bold;
   font-family: Tahoma, Arial, sans-serif;
   font-size: 17px;
   text-align: left;
   background-color: #eeeeee;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 5px;
   padding-bottom: 4px;
}
.coltitle
{
   vertical-align: middle;
   background-color: #eeeeee;
   text-align: center;
   font-weight: bold;
   font-family: Tahoma, Arial, sans-serif;
   font-size: 11px;
}
.colcont
{
   background-color: #ffffff;
   vertical-align: middle;
   text-align: left;
   font-weight: normal;
   font-family: Tahoma, Arial, sans-serif;
   font-size: 11px;
   white-space: nowrap;
}
.visarea
{
   background-color: #ffffff;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 3px;
   padding-bottom: 10px;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
table.center {margin-left:auto; margin-right:auto;}
.rawstyle { font-size:x-small;font-weight:bold;white-space:nowrap; }

.maxwid {
   max-width: 777px;
}

.WARNING 
{
   color: orange;
}

.ERROR
{
   color: red;
   font-weight: bold
}

.GOOD
{
   color: green;
}

pre
{
   background-color: #cccccc;
   border: 1px solid;
}
