#!/bin/sh -e

. /usr/share/debconf/confmodule

db_input medium apt-cacher-ng/gentargetmode || true
db_input low apt-cacher-ng/proxy || true
db_input low apt-cacher-ng/cachedir || true
db_input low apt-cacher-ng/bindaddress || true
db_input medium apt-cacher-ng/port || true
db_input high apt-cacher-ng/tunnelenable || true
db_go
